[Unit]
Description=bring up wlan0 using wpa_supplicant

[Service]
Type=forking
ExecStart=wpa_supplicant -i wlan0 -B -c /etc/wpa_supplicant.conf

[Install]
WantedBy=network.target
